.square{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
/*   display: grid;
  grid-gap: 2.5px; */
}
.item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	grid-gap: 0;
  border: 2px solid black;
  width: 500px;
}

img{
  width: 250px;
  height: 350px;
}

h1{
  background-color: gray;
}
